@import "../../styles/colors";

.pokemonStats {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
    
	h3 {
		width: 100%;
		text-align: center;
    }
    
	div {
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
    }
    
	.statBar {
		height: 2rem;
		width: 80%;
		background-color: #eeee;
		position: relative;
		border: 1px solid;
        margin: 1% 0;
        
		span {
			z-index: 1;
			color: white;
			width: 100%;
			text-align: left;
			margin-left: 1%;
        }
        
		.stat-content {
			position: absolute;
			left: 0;
			top: 0;
			background-color: green;
            height: 100%;
            transition: transform 1s ease-in-out;
            transform-origin: left;
            transform: scaleX(0);
		}
	}
}
